body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8fbff;
}

.navbar{
    background-color: rgb(82, 180, 237);
    position: sticky;  
    top:0;
    border-radius: 0px 0px 15px 15px;
    z-index: 9999;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 30px;
    height: 80px;
    
}

.logo{
    font-size: 50px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    margin: 15px;
    padding: 10px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
}

th {
    background-color: #f2f2f2;
    color: black;
    padding: 15px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

form, aside {
    flex: 1;
    max-width: 45%;
    margin: 30px;
    padding: 10px;
}

input[type="text"], input[type="number"] {
    max-width: 45%;
}

.network-name {
    text-align: center;
    font-weight: bold;
    background-color: #dddddd;
}

/*
.rainbow-button {
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    animation: rainbow 5s linear infinite;
    color: white;
    border: none;
    padding: 10px;
    margin: 15px 15px;
    cursor: pointer;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
*/

.network-name {
    text-align: center;
    font-weight: bold;
    background-color: #dddddd;
}

.rainbow-button {
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    padding: 15px 25px;
    margin: 15px 15px;
    display:flex;
    border-width: 0px;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:40px;
    font-weight:bold;
}

.rainbow-button:after {
    content:attr(alt);
    width:20vw;
    height:8vw;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {background-position:20vw;}
}

.rainbow-button:after {
    content:attr(alt);
    width:20vw;
    height:8vw;
    display:flex;
    align-items:center;
    justify-content:center;
}
.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {background-position:20vw;}
}

@keyframes rainbow {
    0% {background: red;}
    14% {background: orange;}
    28% {background: yellow;}
    42% {background: lime;}
    57% {background: blue;}
    71% {background: indigo;}
    85% {background: violet;}
    100% {background: red;}
}

.add-remove-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.tableContainer {
    position: relative;
    margin-top: 50px;
}

.styled-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.styled-input:focus {
    border-color: #007BFF;
    outline: none;
}

.styled-button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: all 0.3s;
}

.styled-button:hover {background-color: #3e8e41}

.styled-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.styled-add-button {
    display: inline-block;
    padding: 15px 25px;
    margin: 0px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
    border-radius: 15px;
}

.styled-remove-button {
    display: inline-block;
    padding: 15px 25px;
    margin: 0px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af4c4c;
    border: none;
    border-radius: 15px;
}

.styled-remove-button:hover {background-color: #8e3e3e}
.styled-add-button:hover {background-color: #377e3a}